<div id="<%= dom_id service %>">
  <div>
    <strong>Name:</strong>
    <%= service.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= service.description %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= service.price %>
  </div>

</div>
